In [285]:
#importing libraries 

import pandas as pd
import random
import numpy as np
from datetime import date
from datetime import timedelta
import time
import datetime

In [286]:
#initializing with start date of the data geanerated

start_date = datetime.date(2023,6,1)

In [287]:
start_date

datetime.date(2023, 6, 1)

In [288]:
#If you want dates upto todaystart_date = date.today()
# periods means how many days of dates you want

date_list = pd.date_range(start_date, periods=90, freq='D')
print(f"Creating list of 90 dates starting from {start_date}")

Creating list of 90 dates starting from 2023-06-01

In [289]:
#date
df=pd.DataFrame(columns=['date'])
date=random.choices(date_list,k=3042)
dat=date

In [290]:
dat[1]

Timestamp('2023-06-06 00:00:00', freq='D')

In [291]:
#creating daataframe with columns
df= pd.DataFrame( columns= ["date","row_id","order_id","emp_id","item_id","quantity","item_price"])

In [292]:
df

Empty DataFrame
Columns: [date, row_id, order_id, emp_id, item_id, quantity, item_price]
Index: []

In [293]:
#sorting dates
print(date.sort())
#print(date)

None

In [294]:
len(date)

3042

In [295]:
#generating list of 250 employee ids 
eid_list=list(range(1001,1250))
print(type(eid_list))

<class 'list'>

In [296]:
#eid_list

In [297]:
#Generating randomized data of orders using employee id
df=pd.DataFrame(columns=['emp_id'])
emp_id=random.choices(eid_list,k=3042)
emp=emp_id

In [298]:
# creating list of ordered items with list of item id
df=pd.DataFrame(columns=['item_id'])
size=['01','02','03','04','05','06','07','08','09','10','11','12','13','14']
item_id=random.choices(size,k=3042)
item=item_id

In [299]:
# creating the list of order_id 
s_list=list(range(1,3043))
print(type(s_list))

<class 'list'>

In [300]:
#creating a list of randomized quantity of orders 
df=pd.DataFrame(columns=['quantity'])
size=['1','2','3']
quantity=random.choices(size,k=3042)
quant=quantity

In [301]:
#checking the length of each list of data
len(s_list)
len(s_list)
len(emp)
len(item_id)
len(quantity)

3042

In [302]:
#assigning values to the columns of the dataframe
data={'date':date,'order_id':s_list,'emp_id':emp,'item_id':item_id,'quantity':quant}

In [303]:
df = pd.DataFrame(data)

In [304]:
#mapping values of item id with the declared item cost
def map_values(row, values_dict):
    return values_dict[row]
values_dict={'01':'30','02':'30','03':'30','04':'150','05':'225','06':'250','07':'150',
             '08':'250','09':'300','10':'150','11':'125','12':'150','13':'125','14':'125'}
df['item_price']=df['item_id'].apply(map_values, args=(values_dict,))

In [305]:
#creating a time stamp to sale as file name
timestr = time.strftime("%Y%m%d-%H%M%S")
print(timestr)
#converting into string format
str_current_datetime = str(timestr)

20231120-163458

In [306]:
#converting the string values of item price into int values
df["item_price"] = df["item_price"].astype(str).astype(int)

In [307]:
print(type('item_price'))

<class 'str'>

In [308]:
#final data frame
df.head()

        date  order_id  emp_id item_id quantity  item_price
0 2023-06-01         1    1144      10        3         150
1 2023-06-01         2    1217      06        2         250
2 2023-06-01         3    1047      04        2         150
3 2023-06-01         4    1202      13        2         125
4 2023-06-01         5    1181      06        2         250

In [41]:
#saving the data as excel file with time of running as file name.
file_name = str_current_datetime+".xlsx"
order_data=df.to_excel(file_name,index= False)
print('File created',order_data)

File created None

In [42]:
#displaying file name
file_name

'20231120-160147.xlsx'